$primary-color: rgb(20, 100, 255);
$content-bg-color: rgb(0, 102, 204);
$text-color: white;

div {
    background-color: black;
}

md-toolbar {
    color: $text-color;
    background-color: $content-bg-color;
}